#root {
  width: 100vw;
  height: 100vh;

  margin: auto 0;

  text-align: center;
}

.header {
  width: 90%;
  height: 30%;

  margin: 30px auto;
  border: 1px solid gray;
  padding: 10px;
}

.banner__container {
  width: 90%;
  height: 30%;

  margin: 30px auto;
  border: 1px solid gray;
  padding: 10px;
}

.main {
  width: 90%;
  height: 45%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 30px auto;
  border: 1px solid gray;
  padding: 10px;
}

.custom-menu__container {
  width: 35%;
  height: 90%;

  margin: 0 auto;
  border: 1px solid gray;
  padding: 10px;
}

.user__container {
  width: 50%;
  height: 90%;

  margin: 0 auto;
  border: 1px solid gray;
  padding: 10px;
}

.user-info__container {
  margin: 20px;
  border: 1px solid gray;
  padding: 10px;
}

.alarm__container {
  margin: 20px;
  border: 1px solid gray;
  padding: 10px;
}
